# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for Data Science
* List of commonly used libraries by Data Scientists
* How to create tables and headers in markdown

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. SQL
4. Scala
5. Julia
6. Java

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. TensorFlow
6. PyTorch
7. ggplot2

|Data Science Tools|
|------------------|
| Jupyter Notebook |
| RStudio          |
| VS code          |

### below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Yasir binsaif